.client-points-in-stats
  %dl.dl-horizontal
    %dt Uploaded Points:
    %dd= @client_budget.total_points_uploaded
    %dt Redeemed Points:
    %dd= @client_budget.total_points_redeemed
    %dt Paid Points:
    %dd= @client_budget.total_points_credited
    %dt Balance Paid Points:
    %dd= @client_budget.balance_paid_points