%h1
  Redemption Page
%table.table.table-bordered       
  %tr
    %th Msp
    %th Client
    %th Participant Id
    %th Targeted Offer Basis
    %th Incentive
    %th Description
    %th Status
    %th Result